/*Media query variable break points*/

@all: ~"only screen";
@small: ~"only screen and (max-width: 64rem)"; //max-width 640px, mobile-only styles
@medium: ~"only screen and (min-width: 64.1rem) and (max-width: 102.4rem)"; //min-width 641px and max-width 1024px, tablet styles
@large: ~"only screen and (min-width: 102.5rem)"; //min-width 1025px, desktop styles, large screens

/*-----*/

/*Base variables*/

@baseColumns: 12;
@basePadding: 0.5rem;
@baseFont: ~"'Mitra', tahoma, sans-serif";
@baseFontSize: 1.6rem;
@hover: #87CBFF;
@blue: #2A80C9;

/*-----*/

.column(@cols: @baseColumns; @totalColumns: @baseColumns; @colPadding: @basePadding) {
  display: inline-block;
  width: percentage(@cols)/@totalColumns;
  padding: @colPadding;
}