@font-face {
	font-family: 'Mitra';
	src: url('fonts/BMitra.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BMitra.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BMitra.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'Yekan';
	src: url('fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'Titr';
	src: url('fonts/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body {
	background: #F1F4F9;
	direction: rtl;
}
header, footer {
	height: 100px;
	background: #2A80C9;
}
header .logo {
  font-size: 4em;
  margin: 0.3em 2em 0.3em 1em;
  color: #FFF;
  /*text-shadow: 1px 1px 8px #575757;*/
  float: right;
  transition: all .2s ease-out;
  text-decoration: none;
}

header .logo:hover {
  opacity: .7;
  transition: all .2s ease-out;
}

header div {
  float: right;
  margin: 1.6em 2em;
  font-family: 'Mitra';
  font-size: 20px;
}

header div a, header div span {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 0 .5em;
}

header div span:before {
  content: '•';
  position: absolute;
  top: 105%;
  left: 50%;
  font-size: 0.3em;
  opacity: 0;
  transition: opacity .2s ease-out, text-shadow .2s ease-out;
  text-shadow: 0 0 white, 0 0 white;
}

header div span:hover:before {
  text-shadow: -10px 0 white, 10px 0 white;
  opacity: 1;
}

header div a:hover:before, header div a:hover:after {
  opacity: 1;
  transition: all .2s ease-out;
}
header div a:hover:before {
  top: -5%;
}
header div a:hover:after {
  top: 105%;
}

header div a:before, header div a:after {
  content: '';
  width: 120%;
  height: 0;
  border-top: 2px solid white;
  position: absolute;
  left: -10%;
  opacity: 0;
  transition: all .2s ease-out;
}

header div a:before {
  top: -20%;
}

header div a:after {
  top: 120%;
}

main {

}
aside {
	height: 1000px;
}
footer {
}
.post-wrapper {
	margin: 2em 2em 2em 0;
	background: #fff;
	border-radius: 5px;
}
.post-title {
	font-weight: normal;
}
.post-content {
	font-size: 1.2rem;
}
@media (min-width: 480px) and (max-width: 979px) { /* Tablet */
	.post {
		padding: 2em;
	}
	.post p {
		padding: 1em 2em;
	}
	.post-wrapper {
		margin: 0;
	}
}
@media (min-width: 980px) { /* Desktop */
	.post {
		padding: 0 3em;
	}
}
@media (max-width : 480px) { /* Mobile */
	.post {
		padding: 1em;
	}
	.top-nav > ul {
		text-align: center;
	}
	.post-wrapper {
		margin: 0;
	}
}