@font-face {
	font-family: 'Mitra';
	src: url('fonts/BMitra.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BMitra.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BMitra.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'Yekan';
	src: url('fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'Titr';
	src: url('fonts/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
	url('fonts/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

a:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

body {
	background: #F1F4F9;
	direction: rtl;
}
header, footer {
	height: 100px;
	background: #2A80C9;
}
header .logo {
  font-size: 4em;
  margin: 0.3em 2em 0.3em 1em;
  color: #FFF;
  text-shadow: 1px 1px 8px #575757;
  float: right;
  transition: all .2s ease-out;
  text-decoration: none;
}

header .logo:hover {
  opacity: .7;
  transition: all .2s ease-out;
}

header div {
  float: right;
  margin: 1.6em 2em;
  font-family: 'Mitra';
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 0 1em;
  transition: color .2s ease-out, text-shadow .2s ease-out;
  cursor: pointer;
  text-shadow: 1px 1px 8px #575757;
}

header a:hover {
  color: #87CBFF;
  text-shadow: 1px 1px 8px #304856;
}

header .links a:before, header .links a:after {
  display: inline-block;
  font-size: .9em;
  font-family: 'Mitra';
  font-weight: bold;
  opacity: 0;
  transform .2s ease-out, opacity .2s ease-out;
  color: white;
}
header .links a:before {
  content: '[';
  .transform(translateX(-10px));
}
header .links a:after {
  content: ']';
  .transform(translateX(10px));
}

header .links a:hover:after, header .links a:hover:before {
  opacity: 1;
  .transition(transform .2s ease-out, opacity .2s ease-out);
}

header .links a:hover:after {
  .transform(translateX(-10px));
}
header .links a:hover:before {
  .transform(translateX(10px));
}

header .social {
  float: left;
}

header .social a {
  font-size: 0;
  margin: 0 1rem;
}

header .social a:before {
  font-size: 24px;
}

footer {
  font-family: 'Mitra';
}

footer div {
  float: right;
  margin: 2.8rem 3rem 0;
  color: white;
  font-size: 1.5em;
}

footer div * {
  color: white;
  font-size: 1em;
  margin: 0;
  line-height: normal;
}

footer .quotes:before, footer .quotes:after {
  position: relative;
  opacity: .7;
  transition: opacity .2s ease-out, left .2s ease-out;
  left: 0;
}

footer .quotes:before {
  top: -10px;
}

footer .quotes:after {
  top: 10px;
}

footer .quotes:hover:before, footer .quotes:hover:after {
  opacity: 1;
  transition: opacity .2s ease-out, left .2s ease-out;
}

footer .quotes:hover:before {
  left: 10px;
}

footer .quotes:hover:after {
  left: -10px;
}

footer .quotes {
  margin-right: 4rem;
  margin-top: 1.8rem;
}

footer q {
  font-size: 2em;
  font-family: 'Mitra';
}

footer div:last-child {
  float: left;
}

footer div:last-child p {
  display: inline-block;
}

a[href='#top'] {
  font-size: 0;
  color: white;
  float: left;
  margin: .8rem 1rem;
}

a[href='#top']:before {
  content: '';
  width: 0;
  height: 0;
  border: 8px transparent solid;
  border-bottom-color: white;
  transition: all .2s ease-out;
}

a[href='#top']:hover:before {
  border-bottom-color: #87CBFF;
  transition: all .2s ease-out;
}

main {

}
aside {
	height: 1000px;
}
footer {
}
.post-wrapper {
	margin: 2em 2em 2em 0;
	background: #fff;
	border-radius: 5px;
}
.title {
	font-weight: normal;
}
.content {
	font-size: 1.2rem;
}
@media (min-width: 480px) and (max-width: 979px) { /* Tablet */
	.post {
		padding: 2em;
	}
	.post p {
		padding: 1em 2em;
	}
	.post-wrapper {
		margin: 0;
	}
}
@media (min-width: 980px) { /* Desktop */
	.post {
		padding: 0 3em;
	}
}
@media (max-width : 480px) { /* Mobile */
	.post {
		padding: 1em;
	}
	.top-nav > ul {
		text-align: center;
	}
	.post-wrapper {
		margin: 0;
	}
}